<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Les projets des étudiants</title>
    <link href="../static/styles.css" rel="stylesheet" th:href="@{/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<header th:replace="~{fragment-header :: header}">
    <h1>Les projets des étudiants du campus</h1>
</header>
<body>
<div id="header">
    <button class="btn btn-ok" id="btn-refresh-pollings">Rafraîchir</button>&nbsp;
</div>

<div th:replace="~{fragment-form :: nouveau-projet (nouveauProjet=${nouveauProjet})}"></div>
<div id="projets" th:fragment="all-projets">
    <th:block th:each="projet: ${projets}">
        <div th:replace="~{fragment-projet :: single-projet (projet=${projet})}"></div>
    </th:block>
</div>

<script src="../static/projets.js" th:src="@{/projets.js}" type="module"></script>
</body>
</html>